# macOS
.DS_Store
**/.DS_Store

# Datasets
Reviewed Literature/Implementation/BRATS2015/
Reviewed Literature/Implementation/BRATS2015.zip
**/BRATS2015/
**/brats2021/
**/BraTS2021/
**/*.zip
**/*.tar
**/*.tar.gz

# Checkpoints
**/.ipynb_checkpoints/
**/checkpoints/
**/outputs/